.blog {
    display: flex;
    flex-direction: column-reverse;
    padding: 16px 0px 8px 0px;
}
.blog_date {
    min-width: 150px;
}
.blog_date_label {
    line-height: 30px;
}
.blog_detail_header {
    display: flex;
    justify-content: space-between;
    word-break: "break-word";
}
.blog_delete_button {
    color: #4183c4;
    background: transparent important!;
}

@media only screen and (min-width: 768px) {
    .blog {
        padding: 24px 16px 16px 16px;
        flex-direction:row;
    }
    .blog_date_meta {
        display: none;
    }
    .blog_details {
        flex-grow: 15;
    }
  }
