.blog {
    display: flex;
    flex-direction: column-reverse;
    padding: 16px 0px 8px 0px;
}

.blog_detail_header {
    display: flex;
    justify-content: space-between;
    word-break: "break-word";
}
#blog_delete_button {
    color: #4183c4;
    background: transparent;
}
#blog_delete_button:hover {
    color: #ff0000ba;;
}

@media only screen and (min-width: 768px) {
    .blog {
        padding: 24px 48px;
        flex-direction:row;
    }
   .blog_details {
        flex-grow: 15;
    }
  }
